body{
     
    margin: 0px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow-x: hidden;
    /*border: 2px solid black; */
}
div p{
    text-align: center;
    color: rgb(165, 165, 165);
    
    
  }
p{
        color:black;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 93, 93);
    height: 300px;
    border-radius: 20px;
    width: 2500px;

  }
  .one{

    background-color: rgb(255, 93, 93);
    text-align: center;
    margin-bottom: 4px;
    margin-left: 300px;
    padding: 22px 0px 0px 40px ;
    font-size: 30px;
}
  h2{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
  h3{
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .parent div{
    color:  black;
  }
  h4{
    color: black;
  }

 div img{
    height:300px;
    width:400px;
 }
 .navi1{
    display: flex;
    align-items: center;
    padding-left: 500px;
    justify-content: space-around;
    
 }
 a{
    padding: 10px;
    padding-left: 0px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: rgb(14, 7, 7);
    text-decoration:none;
    
    
 }
 a:hover{
    color: rgb(255, 93, 93);
 }
    
 .child10 img{
    width: 300px;
    border-color: white;
    border: 10px;
 }
 article {
    
    height: 600px;
 }

.two{
   text-align: center;
   background-color: orange;
   padding: 50px;
}
 .parent{
   display: flex; 
   padding: 20px;
   padding-left: 20px;
   text-align: center;
   justify-content: center;  
}
.child{
   padding: 20px;
}
 
 .button {
   background-color: #ff6f61;
   color: #fff;
   padding:10px;
   text-decoration: none;
   border-radius: 5px;
   
}

/* Contact Section */
#contact {
    background-color: rgb(61, 51, 60);
    padding: 50px 0;
}
#contact {
    background-color: hsl(306, 9%, 22%);
    padding: 20px 60px;
    text-align: center;
}
#message{
    width: 97%;
    padding-left: 10px;
    box-sizing: border-box;
}

form {
    
    max-width: 600px;
    margin: 0 auto;
    background-color:rgb(61, 51, 60);

    padding: 20px;
   
}
.child20{
    display: flex;
    
    height: 30px;
    margin: 10px;
    align-items: center;
    gap: 10px;
    
  }
input {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(61, 51, 60);
    box-sizing: border-box;
    background-color:hsl(306, 9%, 22%);
    border-color: white;
    align-items: center;
    
}

button {
    padding: 10px 20px;
    background-color: #ff5e5e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff5e5e ;
}
textarea{
    width:  45%;
    height: 100px;
    box-sizing: border-box;
    background-color:hsl(306, 9%, 22%);
    border-color: white;
    align-items: center;
  }

/* Portfolio Section */

.portfolio {
   background-color:hsl(306, 9%, 22%);
   color: white;
   gap: 10px;
}

.portfolio-filter a{
   text-align: center;
   margin-bottom: 50px;
   padding-left: 20px;
   padding-top: 60px;
   color:white;
   text-decoration: none;
   font-size:larger;
}
.skill{
    padding-left: 40px;
    margin-bottom: 50px;
    text-align: start;
    color: white;
    align-items: center;
}

.portfolio-filter button {
   background-color: #ff6f61;
   border: none;
   padding: 20px 40px;
   margin: 10px;
   border-radius:20px;
   color: white;
}


@media screen and(max-width:70px){
    body{
        width: 300px;
        float: 50%;
    }
}
/* Social Media Section */

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.skill {
     padding-left: 40px;
    margin-bottom: 50px;
    text-align: start;
    color: white;
    align-items: center;

}
.progress {
    height: 150%;
    background-color: #ff6b6b;
    border-radius: 5px;
}

.map-container {
    width: 100%;
    height: 400px; 
}
.child9{
    
    margin-left: 20px;
      
}
.container7{
   display: flex;
   
}
.child11{
    padding-left: 450px;
}
.iframe {
    width: 100%;
    height: 100%;
    border: none;
}
footer {
	background-color:  rgb(255, 93, 93);
	color: #fff;
	text-align: center;
    padding-bottom: 10px;
}
div.meter {
    display: flex;
	width: 250px;
	height: 20%;
	background-color: #fff;
	border: 2px rgb(255, 107, 107)solid;
	border-radius: 8px;
	padding: 0%;
}
.child10>img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.logos{
    background-color: white;
    background-size: 0px;
    font-size: 40px;
    color: white;
    justify-content: space-around;
    gap: 40px;

}
.fa-brands{
    border-radius: 100px;
}
.social-media i{
    text-decoration-line: none;
    color: #fff;
    align-items: end;  
}

span{
    color: black;
    position:absolute;
    padding-left: 14%;
}
.social-media p{
    text-align: center;
    color: black;
    font-size: 30px;
    padding-left: 300px;
    
}
.social-media{
    display: flex;
    align-items: center;   
}
.logo{
    text-align: end;
    padding-left: 700px;
}
.skills-container p{
    text-align: center;
    padding-right: 80px;  
}
.photo{
    display: flex;
    text-align: center;
    padding-left: 200px;
    align-items: center;
    color: white;
}
.photo1{
    display: flex;
    padding-left: 200px;
    color: white;
}













